<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.AwardMapper">

    <select id="list" resultType="com.itheima.pojo.Award">
        SELECT a.*, c.title as competition_title, u.real_name as student_name, t.name as team_name
        FROM award a
        LEFT JOIN competition c ON a.competition_id = c.id
        LEFT JOIN user u ON a.student_id = u.id
        LEFT JOIN team t ON a.team_id = t.id
        <where>
            <if test="competitionId != null">
                AND a.competition_id = #{competitionId}
            </if>
            <if test="studentId != null">
                AND a.student_id = #{studentId}
            </if>
            <if test="awardLevel != null and awardLevel != ''">
                AND a.award_level = #{awardLevel}
            </if>
        </where>
        ORDER BY a.ranking ASC
    </select>

    <insert id="insert" parameterType="com.itheima.pojo.Award" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO award (competition_id, registration_id, student_id, team_id, award_level, award_name, score, ranking)
        VALUES (#{competitionId}, #{registrationId}, #{studentId}, #{teamId}, #{awardLevel}, #{awardName}, #{score}, #{ranking})
    </insert>

    <update id="update" parameterType="com.itheima.pojo.Award">
        UPDATE award
        <set>
            <if test="awardLevel != null">award_level = #{awardLevel},</if>
            <if test="awardName != null">award_name = #{awardName},</if>
            <if test="score != null">score = #{score},</if>
            <if test="ranking != null">ranking = #{ranking},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM award WHERE id = #{id}
    </delete>

</mapper>
